.App-canvas {
  position: fixed;
  bottom: 0;
  left: 0;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.App-header img {
  height: 120px;
  pointer-events: none;
  float: left;
  padding: 10px;
}

.App-header h4 {
  color: lightgrey;
}

.span::after {
  margin: 6px;
  display: inline;
  content: "|";
  background: #121314;
  animation: blink 1s infinite;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
