body {
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121314;
  background-image: url('https://mu7ammad.netlify.app/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

::selection {
  color: rgb(255, 255, 255, 0.5);
}
